/*Sponsors List*/

h2{  font-weight: 900;
}

.sponsors {
  position: relative;
  text-align: left;
}

.sponsors ul {
  list-style: none;
  margin: auto;
  padding: 0;
}

.sponsors ul li {
  display: inline-block;
}

#box1 {
  width: 300px;
  height: 150px;
  background: url(http://www.structuralice.com/images/eindhoven-university-of-technology-logo.png);
  background-size:295px,63px; 
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  margin:20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box2 {
  width: 300px;
  height: 150px;
  background: url(../img/clients/HIT.jpg);
  background-color: white;
  background-size: 300px 75px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position:center ;
  margin:20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box3 {
  width: 200px;
  height: 150px;
  background: url(http://www.structuralice.com/images/u17054-r.png);
  background-size:180px,70px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position:center ;

  margin:20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box4 {
  width: 150px;
  height: 150px;
  background: url(../img/clients/Ugent.png);
  background-color: white;
  background-size: 140px 103px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin:20px;
  background-position: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box5 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/summa.jpg);
  background-color: white;
  background-size: 145px 52px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin:20px;
  background-position: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box6 {
  width: 300px;
  height: 150px;
  background: url(http://www.ce.ewi.tudelft.nl/fileadmin/ce/images/TUDLogo.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  margin:20px;
  background-size:280px 79px;
  background-position: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box7 {
  width: 300px;
  height: 150px;
  background: url(http://ddw.sintlucas.nl/wp-content/uploads/2016/09/SintLucasLogoRGBGroot.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:280px 62px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box8 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/banner.jpg);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:201px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box9 {
  width: 220px;
  height: 150px;
  background: url(../img/clients/engie.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:150px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box10 {
  width: 220px;
  height: 150px;
  background: url(../img/clients/mcb.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:170px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
#box11 {
  width: 300px;
  height: 150px;
  background: url(../img/clients/MAMMOET.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:320px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box12 {
  width: 300px;
  height: 150px;
  background: url(../img/clients/isobouw.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:270px 150px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}


#box13 {
  width: 250px;
  height: 150px;
  background: url(../img/clients/wago.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:197px 80px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
  
  #box14 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/Sioen.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
  
  
  #box15 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/easycool.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:190px 137px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
  
   
  #box16 {
  width: 270px;
  height: 150px;
  background: url(../img/clients/valk.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:270px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
  
   
  #box17 {
  width: 250px;
  height: 150px;
  background: url(../img/clients/daken.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:220px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
   
   
  #box18 {
  width: 240px;
  height: 150px;
  background: url(../img/clients/jd.jpg);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:240px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
   
    
  #box19 {
  width: 240px;
  height: 150px;
  background: url(http://www.transfennica.com/images/printLogo.gif);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:200px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
   
    
  #box20 {
  width: 300px;
  height: 150px;
  background: url(http://www.hiwa.nl/images/logo.gif);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:250px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
   
    
  #box21 {
  width: 250px;
  height: 150px;
  background: url(http://wbbv.nl/wp-content/uploads/2014/10/nws-eurofrigo-1-400x284.jpg);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:200px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
   
    
  #box22 {
  width: 200px;
  height: 150px;
  background: url(https://www.perssupport.nl/uploads/press-news-item/original/05e3aead-a0bf-11e0-917f-010c308687c0.jpg);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}
   
  #box23 {
  width: 200px;
  height: 150px;
  background: url(https://www.interregeurope.eu/fileadmin/_processed_/csm_JOSEK_logo_09_53d770b6d7.jpg);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box24 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/legrand.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box25 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/nexans.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box26 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/murr.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box27 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/pvc.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box28 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/valkenpower.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box29 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/eriks.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box30 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/cablespace.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box31 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/tameson.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box32 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/elektro.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box33 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/sew.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box34 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/xylem.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box35 {
  width: 200px;
  height: 150px;
  background: url(../img/clients/endress.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:180px 53px;
  margin:20px;
  background-position:center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#overlay {
  background: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 100px 0 100px 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.sponsors a {
  text-decoration: none;
}

#name {
  font-weight: lighter;
  font-family: Hind, Helvetica, sans-serif;
  color: rgba(255, 255, 255, .85);
  font-size: 10px;
}

#box1:hover #overlay,
#box2:hover #overlay,
#box3:hover #overlay,
#box4:hover #overlay,
#box5:hover #overlay,
#box6:hover #overlay,
#box7:hover #overlay,
#box8:hover #overlay,
#box9:hover #overlay,
#box10:hover #overlay,
#box11:hover #overlay,
#box12:hover #overlay,
#box13:hover #overlay,
#box14:hover #overlay,
#box15:hover #overlay,
#box16:hover #overlay,
#box17:hover #overlay,
#box18:hover #overlay,
#box19:hover #overlay,
#box20:hover #overlay,
#box21:hover #overlay,
#box22:hover #overlay,
#box23:hover #overlay,
#box24:hover #overlay,
#box25:hover #overlay,
#box26:hover #overlay,
#box27:hover #overlay,
#box28:hover #overlay,
#box29:hover #overlay,
#box30:hover #overlay,
#box31:hover #overlay,
#box32:hover #overlay,
#box33:hover #overlay,
#box34:hover #overlay,
#box35:hover #overlay{  
  opacity: 1;
}

